@charset "utf-8";
/* CSS Document */

html {
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #000;
	position: relative;
}

#baseWindow {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-image: url(img/AHI02.jpg);
	background-repeat: repeat;
	background-position: center center;
}

.mask {
	position: absolute;
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center center;
	left: 22px;
	top: 25px;
}
#footer {
	color: #FFF;
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: #000;
	margin: 0px;
	font-family: "Times New Roman", Times, serif;
	font-size: 80%;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
}

a {
	color: #FFF;
}
a:hover {
	text-decoration: none;
}#introFader {
	background-color: #FFF;
	height: 100%;
	width: 100%;
}
